<?xml version="1.0" encoding="UTF-8"?>
<project-modules id="moduleCoreId" project-version="1.5.0">
<wb-module deploy-name="dis.ejb3">
<wb-resource deploy-path="/" source-path="/src"/>
<property name="java-output-path" value="target/classes"/>
</wb-module>
</project-modules>
